.container {
  margin-top: 40px;
  margin-bottom: 40px;
  min-height:100%;
  position:relative;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center-container {
  margin: 0 auto;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: 60px;
}
