<div class="row my-5">
  <div class="col-md-3">
    <div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight waves-light waves-effect" mdbwaveseffect="">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg">
        <a><div class="mask">
        </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title mb-2 font-bold"><strong>{{user.username}}</strong></h4>
        <h5 class="indigo-text"><strong>{{user.role}}</strong></h5>
        <!--<h6 class="text-justify"><strong>First name:</strong></h6>-->
        <!--<p class="text-justify">{{user.firstName}}</p>-->
        <!--<h6 class="text-justify"><strong>Second name:</strong></h6>-->
        <!--<p class="text-justify">{{user.secondName}}</p>-->
        <!--<h6 class="text-justify"><strong>About:</strong></h6>-->
        <!--<p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione perferendis quod animi dignissimos...</p>-->
        <!--<div>-->
          <button class="btn btn-outline-primary btn-rounded  btn-sm" mdbwaveseffect="" type="button">More...</button>
        <!--</div>-->
      </div>
    </div>
  </div>

  <div  class="col-md-9">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item nav-link" [class.active]="viewMode == 'newsTab'" rel="newsTab" (click)="viewMode ='newsTab'">News</li>
      <li class="nav-item nav-link" [class.active]="viewMode == 'profileTab'" rel="profileTab" (click)="viewMode ='profileTab'">Profile</li>
      <li class="nav-item nav-link" *ngIf="isCanEdit" [class.active]="viewMode == 'editTab'" rel="editTab" (click)="viewMode ='editTab'">Edit</li>
    </ul>
    <div class="tab-content" id="myTabContent" [ngSwitch]="viewMode">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card card-cascade narrower">
          <div id="newsTab" class="tab-slider--body" *ngSwitchCase="'newsTab'">
            <app-profile-news [user]="user"></app-profile-news>
          </div>
          <div id="profileTab" class="tab-slider--body" *ngSwitchCase="'profileTab'">
          </div>
          <div id="editTab" class="tab-slider--body" *ngSwitchCase="'editTab'">
            <app-profile-edit [user]="user"></app-profile-edit>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div  class="col-md-9">-->
    <!--<ul class="nav nav-tabs" id="myTab" role="tablist">-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" id="news-tab" routerLink="/profile/{{user.username}}" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Your news</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" id="contact-tab" data-toggle="tab" disabled role="tab" aria-controls="contact" aria-selected="false">Profile</a>-->
      <!--</li>-->
      <!--<li class="nav-item" *ngIf="isCanEdit">-->
        <!--<a class="nav-link" id="edit-profile-tab" routerLink="/profile/{{user.username}}/edit" data-toggle="tab" role="tab" aria-controls="edit" aria-selected="false">Edit profile</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="tab-content" id="myTabContent">-->
      <!--<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->
        <!--<div class="card card-cascade narrower">-->
          <!--&lt;!&ndash;<app-profile-edit [user]="user"></app-profile-edit>&ndash;&gt;-->
          <!--&lt;!&ndash;<div [ngSwitch]="1">&ndash;&gt;-->
            <!--&lt;!&ndash;<ng-template *ngSwitchCase="1"><app-profile-edit></app-profile-edit></ng-template>&ndash;&gt;-->
            <!--&lt;!&ndash;<ng-template *ngSwitchCase="2"><app-profile-news></app-profile-news></ng-template>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>`&ndash;&gt;-->

          <!--<router-outlet [user]="user"></router-outlet>-->

        <!--</div>-->
      <!--<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
      <!--</div>-->
      <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
