<div class="row my-5">
  <div class="col-md-3">
    <div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight waves-light waves-effect" mdbwaveseffect="">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg">
        <a><div class="mask">
        </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title mb-2 font-bold"><strong>{{user.username}}</strong></h4>
        <h5 class="indigo-text"><strong>{{user.role}}</strong></h5>
        <!--<h6 class="text-justify"><strong>First name:</strong></h6>-->
        <!--<p class="text-justify">{{user.firstName}}</p>-->
        <!--<h6 class="text-justify"><strong>Second name:</strong></h6>-->
        <!--<p class="text-justify">{{user.secondName}}</p>-->
        <!--<h6 class="text-justify"><strong>About:</strong></h6>-->
        <!--<p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione perferendis quod animi dignissimos...</p>-->
        <!--<div>-->
          <button class="btn btn-outline-primary btn-rounded  btn-sm" mdbwaveseffect="" type="button">More...</button>
        <!--</div>-->
      </div>
    </div>
  </div>
  <div  class="col-md-9">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Your news</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Edit profile</a>
        <!--href="/profile?tab=editProfile"-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" disabled role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card card-cascade narrower">


          <div class="card-body text-center">
            <!--<form  novalidate="" class="ng-untouched ng-pristine ng-valid">-->
            <div class="row">
              <div class="col-md-4">
                <div  class="md-form">
                  <input  class="form-control" id="usernameInput" placeholder="Username" value="{{user.username}}" type="text">
                  <label  class="active" for="usernameInput">Username</label>
                </div>
              </div>
              <div  class="col-md-4">
                <div  class="md-form">
                  <input  class="form-control" id="firstNameInput" placeholder="FirstName" value="{{user.firstName}}" type="text">
                  <label  class="active" for="firstNameInput">First Name</label>
                </div>
              </div>
              <div  class="col-md-4">
                <div  class="md-form">
                  <input  class="form-control" id="lastNameInput" placeholder="Last Name" value="{{user.lastName}}" type="text">
                  <label  class="active" for="lastNameInput">Last Name</label></div>
              </div>
            </div>
            <div  class="row">
              <div  class="col-md-4">
                <div  class="md-form">
                  <input class="form-control" id="form33" mdbinputdirective="" placeholder="Country" type="text">
                  <label class="active" for="form33">Country</label>
                </div>
              </div>
              <div  class="col-md-4">
                <div  class="md-form">
                  <input class="form-control" id="form31" placeholder="City" type="text">
                  <label class="active" for="form31">City</label>
                </div>
              </div>
              <div  class="col-md-4">
                <div  class="md-form">
                  <input class="form-control" id="form22" mdbinputdirective="" placeholder="Address" type="text">
                  <label for="form22" class="active">Address</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div  class="md-form">
                  <textarea  class="md-textarea form-control" id="form76" mdbinputdirective="" placeholder="Bio" type="text"></textarea>
                  <label for="form76" class="active">About yourself</label>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="input-group image-preview">
                  <input type="text" placeholder="Upload avatar" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Browse</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                    </div>
                </span>
                </div>
              </div>
            </div>
            <div class="text-center btn-div">
              <button class="btn btn-primary" mdbwaveseffect="" type="button">Update</button>
            </div>
            <!--</form>-->
          </div>
        </div>


        </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>

  </div>
</div>
