<div class="row my-5 d-flex justify-content-center" *ngIf="isDeleted; else viewProfile">
  <div>
  <h1 translate>Sorry, this user has been deleted =(</h1>
</div>
</div>
<!--<div class="d-flex justify-content-center m-5">-->
<ng-template #viewProfile>
  <div class="row my-5">
    <div class="col-md-3">
      <div class="card card-cascade narrower">
        <div class="view overlay hm-white-slight waves-light waves-effect" mdbwaveseffect="">
          <img class="img-fluid" src={{user?.avatar}}>
          <a><div class="mask">
          </div>
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title mb-2 font-bold"><strong>{{user?.username}}</strong></h4>
          <h5 class="indigo-text"><strong>{{user?.role}}</strong></h5>
          <!--<h6 class="text-justify"><strong>First name:</strong></h6>-->
          <!--<p class="text-justify">{{user.firstName}}</p>-->
          <!--<h6 class="text-justify"><strong>Second name:</strong></h6>-->
          <!--<p class="text-justify">{{user.secondName}}</p>-->
          <!--<h6 class="text-justify"><strong>About:</strong></h6>-->
          <!--<p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione perferendis quod animi dignissimos...</p>-->
          <!--<div>-->
          <!--<button class="btn btn-outline-primary btn-rounded  btn-sm" mdbwaveseffect="" type="button" translate>More...</button>-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <div  class="col-md-9">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item nav-link" [class.active]="viewMode == 'newsTab'" rel="newsTab" (click)="viewMode ='newsTab'" translate>News</li>
        <li class="nav-item nav-link" [class.active]="viewMode == 'profileTab'" rel="profileTab" (click)="viewMode ='profileTab'" translate>Profile</li>
      </ul>
      <div class="tab-content" id="myTabContent" [ngSwitch]="viewMode">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card card-cascade narrower">
            <div id="newsTab" class="tab-slider--body" *ngSwitchCase="'newsTab'">
              <app-profile-news ></app-profile-news>
            </div>
            <div id="profileTab" class="tab-slider--body" *ngSwitchCase="'profileTab'">
              <app-profile-info ></app-profile-info>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
