<section>

  <!--Leave a reply form-->
  <div class="reply-form" *ngIf="addComment">
    <h2 class="h1 section-heading">Leave a reply </h2>
    <p class="text-center">(Logged In User)</p>

    <!--Third row-->
    <div class="row">
      <!--Image column-->
      <!--<div class="col-sm-2 col-12">-->
      <!--<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" class="avatar rounded-circle z-depth-1-half">-->
      <!--</div>-->
      <!--/.Image column-->

      <!--Content column-->
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="col-sm-10 col-8" >
            <div class="md-form">
              <input formControlName="comment" id="form8" class="form-control">
              <label for="form8">Your message</label>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="text-center mx-auto">
            <button class="btn btn-primary waves-light"  mdbWavesEffect>Send comment</button>
          </div>
        </div>
        <!--/.Content column-->
      </form>
    </div>
    <!--/.Third row-->
  </div>
  <!--/.Leave a reply form-->

</section>


<!--Main wrapper-->
<div class="comments-list text-left">
  <div class="section-heading">
    <h3>Comments <span class="badge blue">{{commentsShowDto?.length}}</span></h3>
  </div>
  <!--First row-->
  <div class="row" *ngFor="let commentShowDto of commentsShowDto">
    <!--Image column-->
    <div class="col-sm-2 col-12">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="avatar rounded-circle z-depth-1-half">
    </div>
    <!--/.Image column-->
    <!--Content column-->
    <div class="col-sm-10 col-12">
      <a><h3 class="user-name">{{commentShowDto?.author_name}}</h3></a>
      <div class="card-data">
        <ul class="pl-0 list-unstyled">
          <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
        </ul>
      </div>
      <p class="comment-text">{{commentShowDto?.text}}</p>
    </div>
    <div>
      Author: <a routerLink="/profile/{{commentShowDto?.author_name}}">{{commentShowDto?.author_name}}</a>
      <a class="card-link pointer m-1" (click)="addLike()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
    </div>
  </div>
  <!--/.First row-->
</div>
<!--/.Main wrapper-->
