<div class="reply-form" *ngIf="canAddComment()">
  <h2 class="h1 section-heading" translate>Leave a reply</h2>
  <div class="row">
    <div class="col-sm-2 col-12 mt-5 p-0">
      <img src="{{currentImage}}" class="avatar z-depth-1-half img-size">
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="col-sm-10 col-12">
      <div class="md-form">
        <textarea type="text" id="areaComment" formControlName="comment" class="md-textarea form-control"></textarea>
        <label for="areaComment" translate>Your message</label>
      </div>
      <div class="text-center mx-auto">
        <button class="btn btn-primary waves-light" mdbWavesEffect translate>Send comment</button>
      </div>
    </form>
  </div>
</div>

<div class="comments-list text-left bottom-offset" >
  <div class="section-heading">
    <h3 translate>Comments <span class="badge blue">{{commentsShowDto.length}}</span></h3>
  </div>
  <div class="row mb-4" *ngFor="let commentShowDto of commentsShowDto">
    <div class="photo">
      <img src="{{commentShowDto.avatar}}" class="avatar z-depth-1-half rounded-circle img-size">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div>
          <a routerLink="/profile/{{commentShowDto?.author_name}}">
            <h3 class="user-name">{{commentShowDto?.author_name}}</h3>
          </a>
        </div>
        <div class="mt-1 mx-2">
          <i class="fa fa-thumbs-up" aria-hidden="true">{{commentShowDto.current_likes_user}}</i>
        </div>
      </div>
      <div class="row comment p-0">
          <p class="comment-text">{{commentShowDto.text}}</p>
      </div>
      <div class="row">
      <div class="card-data">
        <ul class="pl-0 list-unstyled">
          <li class="comment-date"><i class="fa fa-clock-o"></i> {{commentShowDto.publish_date}}</li>
        </ul>
      </div>
      <div class="col-4 col-sm-4">
        <a class="card-link pointer m-1" (click)="addLike(commentShowDto.id)"><i [ngClass]="isLiked(commentShowDto.likes) ? 'fa fa-heart fa-heart-red' : 'fa fa-heart-o fa-heart-black'"  aria-hidden="true">{{commentShowDto.likes.length}}</i></a>
      </div>
    </div>
    </div>
  </div>
</div>
