<div class="{{theme}}">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" routerLink="/"><strong>ITnews</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/" translate>Home</a>
      </li>
      <li class="nav-item waves-light" *ngIf="isAdmin()" mdbWavesEffect>
        <a class="nav-link" routerLink="/users" translate>Users</a>
      </li>
    </ul>
    <div class="no-space row">
        <input class="form-control form-control-sm mr-3" (keyup)="search($event)" type="text" [attr.placeholder]="'Search' | translate" aria-label="Search" mdbInputDirective>
        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
    </div>

    <div class="btn-group" dropdown>
      <button type="button" dropdownToggle class="btn p-2 mr-2 dropdown-toggle" mdbWavesEffect translate>
        {{"Theme" | translate}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let theme of themes" (click)="switchTheme(theme)">{{theme.name | translate}}</a>
      </div>
    </div>

    <div class="btn-group" dropdown>
      <button type="button" dropdownToggle class="btn p-2 dropdown-toggle" mdbWavesEffect translate>
        {{"Language" | translate}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let language of languages" (click)="switchLanguage(language)">{{language.name.toUpperCase()}}</a>
      </div>
    </div>

    <ul class="navbar-nav nav-flex-icons" *ngIf="!isLogin()">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fa fa-vk"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/login" translate>Login</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLogin()">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/profile/{{currentUsername()}}">{{currentUsername()}}</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/login" translate>Logout</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
</div>
