<div class="card mb-5">
  <div class="card-header bg-dark text-white">
    <div *ngIf="true" class="tool-box float-sm-right main-bg-bgcolor p-2 rounded">
      <a class="card-link pointer m-1" (click)="edit()" dgTooltip="Edit"><i class="material-icons md-light">&#xE254;</i></a>
      <a class="card-link pointer m-1" (click)="delete()" dgTooltip="Delete"><i class="material-icons md-light">&#xE872;</i></a>
    </div>
    <div class="float-sm-left">
      <!--<a class="perm-link" [routerLink]="['/',key]"><h2 class="card-title">{{news?.title}}</h2></a>-->
      <h2>{{news?.name}}</h2>
      <h5>{{news?.publishDate | date}}</h5>
    </div>
  </div>
  <div class="card-body">
    <markdown [data]="news?.text"></markdown>
  </div>
</div>
