<h2>Forgot password?</h2>
<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Send code on email for confirm</button>
  </div>
  <div class="form-group">
    <a [routerLink]="['/login']" class="btn btn-link">Login</a>
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
  </div>
</form>
