<div class="mt-5">
  <div class="col-md-6 m-auto">
    <alert></alert>
    <h2 translate>Forgot password?</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password" translate>Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.password.errors }" />
        <div *ngIf="submitted && formControl.password.errors" class="invalid-feedback">
          <div *ngIf="formControl.password.errors.required" translate>Password is required</div>
          <div *ngIf="formControl.password.errors.minlength" translate>Password must be at least 6 characters</div>
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label for="passwordConfirm">Password confirm</label>-->
        <!--<input type="password" id="passwordConfirm" formControlName="passwordConfirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && (formControl.passwordConfirm.errors || passwordConfirmError) }" />-->
        <!--<div *ngIf="submitted && (formControl.passwordConfirm.errors || passwordConfirmError)" class="invalid-feedback">-->
          <!--<div *ngIf="formControl.passwordConfirm.errors.required">Password confirm is required</div>-->
          <!--<div *ngIf="passwordConfirmError">Password confirm and password isn't required</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <button class="btn btn-primary" translate>Change password</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div class="form-group">
        <a [routerLink]="['/login']" class="btn btn-link" translate>Login</a>
        <a [routerLink]="['/register']" class="btn btn-link" translate>Register</a>
      </div>
    </form>
  </div>
</div>
