.card-title {
  color: var(--main-white);
}

.card-link .md-light {
  color: var(--main-white-lighter)
}

.card-link:hover .md-light {
  color: var(--main-white)
}

a.perm-link {
  color: white;
}

.multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}

.padd{
  padding-left: 15px;
}













.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.dropup, .dropdown {
  position: relative;
}

.open>.dropdown-menu {
  display: block;
}

.nav>li>a {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.m-left{
  margin-left: 10px;
}

.drop-checkbox{
  width: 15px;
  height: 15px;
}
