.padd{
  padding-left: 29px;
}

.dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.m-left{
  margin-left: 10px;
}

.tags-pos{
  padding-left: 10px;
}

.drop-checkbox{
  width: 15px;
  height: 15px;
}
