<div class="p-3 h-100 w-100 user-list">
<!--<div>-->
  <h2 class="h1 font-weight-bold" translate>Users list</h2>
  <div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th translate>Username</th>
      <th translate>E-mail</th>
      <th translate>Role</th>
      <th translate>Blocked</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>
        <input type="checkbox" [checked]="user.blocked" (change)="changeBlockUserStatus(user.id, user.blocked)" class="big-checkbox">
      </td>
      <td>
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-danger waves-light" mdbWavesEffect translate>Action</button>
          <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/profile/{{user.username}}" translate>Edit</a>
            <li class="dropdown-submenu">
              <a class="dropdown-item" tabindex="-1">Set role</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="setUserRole('Reader', user.id)">Reader</a></li>
                <li><a class="dropdown-item" (click)="setUserRole('Writer', user.id)">Writer</a></li>
                <li><a class="dropdown-item" (click)="setUserRole('Admin', user.id)">Admin</a></li>
              </ul>
            </li>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deleteUser(user.id)" translate>Delete</a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
