<div *ngIf="post" class="card mb-5">
  <div class="card-header bg-dark text-white">
    <div *ngIf="showEdit()"
         class="tool-box float-sm-right main-bg-bgcolor p-2 rounded">
      <a class="card-link pointer m-1" routerLink="/editPost/{{post.id}}"><i class="material-icons md-light">&#xE254;</i></a>
      <a class="card-link pointer m-1" (click)="deletePost(post.id)"><i class="material-icons md-light">&#xE872;</i></a>
    </div>
      <div class="float-sm-left">
      <h2>{{post.name}}</h2>
      <h5>{{post.publishDate | date}}</h5>

        <div *ngIf="!new">
          <a routerLink="/profile/{{post?.authorName}}"><h1>{{post?.authorName}}</h1></a>
        </div>
    </div>
  </div>
  <div class="card-body">
    <markdown [data]="post.text"></markdown>
  </div>
</div>
<app-comment *ngIf="showComments()" [idPost]="id" [addComment]="showAddComment()"></app-comment>

