<div class="card-body">
  <div class="mb-1">
    <div class="row">
      <div class="col-sm-4">
        <h3 id="head_name" translate>{{profile.getUser()?.username}} news
          <a *ngIf="isCanAddNews()" class="pull-right" [routerLink]='["/addPost/", {authorId: profile.getUser()?.id}]'>+</a>
        </h3>
        <hr id="head_hr" />
      </div>
      <form *ngIf="isCanAddNews()" [formGroup]="searchForm" class="col-md-4 no-space ml-auto" (change)="search()" >
        <div class="row md-form">
          <input class="form-control" id="search" formControlName="search" [attr.placeholder]="'Search...' | translate" type="text">
          <!--<i class="fa fa-search" aria-hidden="true"></i>-->
        </div>
      </form>
    </div>
  </div>
  <table *ngIf="isCanAddNews()" class="table text-center table-hover">
    <thead>
    <tr>
      <th translate>
        <a (click)="sortByTitle()">
          Title
          <i *ngIf="showImageSortByNameUp()" class="fa fa-long-arrow-up" aria-hidden="true"></i>
          <i *ngIf="showImageSortByNameDown()" class="fa fa-long-arrow-down" aria-hidden="true"></i>
        </a>
      </th>
      <th>Description</th>
      <th>
        <a (click)="sortByDate()">
          Published Date
          <i *ngIf="showImageSortByDateUp()" class="fa fa-long-arrow-up" aria-hidden="true"></i>
          <i *ngIf="showImageSortByDateDown()" class="fa fa-long-arrow-down" aria-hidden="true"></i>
        </a>
      </th>
      <th translate>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of newsInSearch">
      <td>
        <a routerLink="/news/{{post.post?.id}}">{{post.post?.name}}</a>
      </td>
      <td>{{post.post?.description}}</td>
      <td>{{post.post?.publishDate | date}}</td>
      <td>
        <div class="btn-group" dropdown>
          <button type="button" dropdownToggle class="btn action-btn dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/editPost/{{post.post?.id}}" translate>Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deletePost(post.post?.id)" translate>Delete</a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!isCanAddNews()">Sorry you can't create news</div>
</div>
